*{
  margin: 0;
  padding: 0;
}


:root{
  --preto-transparente: #333;
  --laranja-escuro: #C2BEB8;
  --red: red;
}

.menu-checkbox {
  display: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--laranja-escuro);
  height: 60px;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

ul {
  list-style: none;
  display: flex; 
}

li {
  display: flex;
  align-items: center;
}

li:not(:last-child) {
  margin-right: 300px; 
}
.cart-item {
  position: relative;
  display: inline-block;
}

.item-count {
  position: absolute;
  top: -10px; 
  right: -10px;
  background-color: var(--red); 
  color: white; 
  border-radius: 50%; 
  padding: 3px; 
  font-size: 9px; 
}



.menu {
  display: none;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: var(--preto-transparente);
}


#minhaDiv {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease; /* Adiciona uma transição suave */
}





@media(max-width: 768px){
  li:not(:last-child) {
    margin-right:15px; 
    margin-left: auto;
  }
}